.bookings-control {
    text-align: center;
    padding: 0.5rem;
}

.bookings-control button {
    font: inherit;
    border: none;
    background: transparent;
    padding: .55rem 3rem;
    border-bottom: 2px  solid transparent;
    cursor: pointer;
}

.bookings-control button.active {
    border-bottom-color: #1976d2;
    color: #1976d2;
}

.bookings-control button:focus {
    outline: none;
}